<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
        xml:lang="ja" lang="ja">
    <head>
        <meta http-equiv="Content-Type"
            content="text/html; charset=UTF-8" />
        <title>Home</title>
    </head>
    <body>
        <h1>※エンティティの編集</h1>
        <p>{{message}}</p>
        <form method="post" action="/edit">
        <input type="hidden" name="id" value="{{data.key.id}}" />
        <table>
            <tr>
            <th>名前：</th>
            <td><input type="text" name="name" value="{{data.nickname}}" /></td>
            </tr>
            <tr>
            <th>メッセージ：</th>
            <td><textarea name="msg">{{data.freetext}}</textarea></td>
            </tr>
            <tr><th></th>
            <td><input type="submit" value="送信" /></td></tr>
        </table>
        </form>
    </body>
</html>